body{
background-color: darkgray;

}

#header{
    text-align: center;
}

#footer{
    text-align: center;
}

#content{
    display: flex;
    height: 500px;
    gap: 30px;
    justify-content: center;
}

#leftPanel{
    background-color: grey;
    max-width: 300px;
    flex: 1;
}

#rightPanel{
    display: grid;
    grid-template-columns: repeat(1,auto);
    background-color: white;
    max-width: 500px;
    flex: 1;
}

.grid-items{
    border: 1px solid;
}
